# Visual Studio user-specific files
.vs/
*.user
*.suo

# Build output folders
Debug/
x64/

# Build output files
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.idb
*.cache
*.opensdf
*.sdf

# Temporary or backup files
*.tmp
*.bak
*~